body {
    margin: 0;
    font-family: sans-serif;
    background: #0f172a;
    color: #fff
}

.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column
}

.content-area {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 90px
}